@model _17DH110151_LyQuyen.Models.CongTyPH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CongTyPH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên công ty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
