@model IEnumerable<_17DH110151_LyQuyen.Models.Sach>

@{
    ViewBag.Title = "List";
}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <a href="Details/@item.MaSach">
                <div class="card">
                    <img class="card-img-top" src="~/Images/@item.ItemImageName" style="width:100%" />
                    <h3 style="text-align:center" class="card-title">@item.TenSach</h3>
                    <h4 style="text-align:center; color:orange" class="card-text">@item.Gia</h4>
                </div>
            </a>
        </div>
    }
</div>
<br />
@for (int i = 0; i <= ViewBag.count; i++)
{
    <a class="btn btn-danger" href="@Url.Action("List","Saches",new { page=i })">@i</a>
}
